@charset "utf-8";

/**
* default.css
* @version			: 0.1
* @description		: Reset Browser CSS & Default CSS

* @content			: 
=====================================
	Reset Browser CSS
	Block Element
	Inline Element
	List
	Form
	Table
	Noscript
=====================================
*/


/* =====================================
	Reset Browser CSS
===================================== */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

fieldset,
img {
    border: 0;
    line-height: 1.4;
    max-width: 100%;
    height: auto;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table,
th,
td {
    border-collapse: collapse;
}

caption,
th {
    text-align: left;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

hr {
    display: none;
}


/* =====================================
	List
=====================================---*/

ul,
ul ul,
ul ul ul,
ul li,
ul li li,
ul li li li {
    margin: 0;
    padding: 0;
}

ol {
    margin: 0 0 2em 2em;
    padding: 0;
}

ol li {
    margin-bottom: 0.5em;
}

ol ol {
    margin-bottom: 0
}


/* =====================================
	Form
=====================================---*/


/* =====================================
	Table
===================================== */

caption {
    display: none;
}


/* =====================================
	clearfix
=====================================---*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}


/* margin set
	------------------------------------------------*/


/*reset*/

.mreset {
    margin: 0px !important;
}


/*0px*/

.mt00 {
    margin-top: 0px !important;
}

.mr00 {
    margin-right: 0px !important;
}

.mb00 {
    margin-bottom: 0px !important;
}

.ml00 {
    margin-left: 0px !important;
}


/*5px*/

.mt05 {
    margin-top: 5px !important;
}

.mr05 {
    margin-right: 5px !important;
}

.mb05 {
    margin-bottom: 5px !important;
}

.ml05 {
    margin-left: 5px !important;
}


/*10px*/

.mt10 {
    margin-top: 10px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.ml10 {
    margin-left: 10px !important;
}


/*15px*/

.mt15 {
    margin-top: 15px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.ml15 {
    margin-left: 15px !important;
}


/*20px*/

.mt20 {
    margin-top: 20px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.ml20 {
    margin-left: 20px !important;
}


/*25px*/

.mt25 {
    margin-top: 25px !important;
}

.mr25 {
    margin-right: 25px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.ml25 {
    margin-left: 25px !important;
}


/*30px*/

.mt30 {
    margin-top: 30px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.ml30 {
    margin-left: 30px !important;
}


/*35px*/

.mt35 {
    margin-top: 35px !important;
}

.mr35 {
    margin-right: 35px !important;
}

.mb35 {
    margin-bottom: 35px !important;
}

.ml35 {
    margin-left: 35px !important;
}


/*40px*/

.mt40 {
    margin-top: 40px !important;
}

.mr40 {
    margin-right: 40px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.ml40 {
    margin-left: 40px !important;
}


/*45px*/

.mt45 {
    margin-top: 45px !important;
}

.mr45 {
    margin-right: 45px !important;
}

.mb45 {
    margin-bottom: 45px !important;
}

.ml45 {
    margin-left: 45px !important;
}


/*50px*/

.mt50 {
    margin-top: 50px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.ml50 {
    margin-left: 50px !important;
}


/*55px*/

.mt55 {
    margin-top: 55px !important;
}

.mr55 {
    margin-right: 55px !important;
}

.mb55 {
    margin-bottom: 55px !important;
}

.ml55 {
    margin-left: 55px !important;
}


/*60px*/

.mt60 {
    margin-top: 60px !important;
}

.mr60 {
    margin-right: 60px !important;
}

.mb60 {
    margin-bottom: 60px !important;
}

.ml60 {
    margin-left: 60px !important;
}


/*100px*/

.mt100 {
    margin-top: 100px !important;
}

.mr100 {
    margin-right: 100px !important;
}

.mb100 {
    margin-bottom: 100px !important;
}

.ml100 {
    margin-left: 100px !important;
}


/*150px*/

.mt150 {
    margin-top: 150px !important;
}

.mr150 {
    margin-right: 150px !important;
}

.mb150 {
    margin-bottom: 150px !important;
}

.ml150 {
    margin-left: 150px !important;
}


/* padding set
	------------------------------------------------*/


/*reset*/

.preset {
    padding: 0px !important;
}


/*0px*/

.pt00 {
    padding-top: 0px !important;
}

.pr00 {
    padding-right: 0px !important;
}

.pb00 {
    padding-bottom: 0px !important;
}

.pl00 {
    padding-left: 0px !important;
}


/*5px*/

.pt05 {
    padding-top: 5px !important;
}

.pr05 {
    padding-right: 5px !important;
}

.pb05 {
    padding-bottom: 5px !important;
}

.pl05 {
    padding-left: 5px !important;
}


/*10px*/

.pt10 {
    padding-top: 10px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pl10 {
    padding-left: 10px !important;
}


/*15px*/

.pt15 {
    padding-top: 15px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pl15 {
    padding-left: 15px !important;
}


/*20px*/

.pt20 {
    padding-top: 20px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pl20 {
    padding-left: 20px !important;
}


/*25px*/

.pt25 {
    padding-top: 25px !important;
}

.pr25 {
    padding-right: 25px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pl25 {
    padding-left: 25px !important;
}


/*30px*/

.pt30 {
    padding-top: 30px !important;
}

.pr30 {
    padding-right: 30px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pl30 {
    padding-left: 30px !important;
}


/*35px*/

.pt35 {
    padding-top: 35px !important;
}

.pr35 {
    padding-right: 35px !important;
}

.pb35 {
    padding-bottom: 35px !important;
}

.pl35 {
    padding-left: 35px !important;
}


/*40px*/

.pt40 {
    padding-top: 40px !important;
}

.pr40 {
    padding-right: 40px !important;
}

.pb40 {
    padding-bottom: 40px !important;
}

.pl40 {
    padding-left: 40px !important;
}


/*45px*/

.pt45 {
    padding-top: 45px !important;
}

.pr45 {
    padding-right: 45px !important;
}

.pb45 {
    padding-bottom: 45px !important;
}

.pl45 {
    padding-left: 45px !important;
}


/*50px*/

.pt50 {
    padding-top: 50px !important;
}

.pr50 {
    padding-right: 50px !important;
}

.pb50 {
    padding-bottom: 50px !important;
}

.pl50 {
    padding-left: 50px !important;
}


/*55px*/

.pt55 {
    padding-top: 55px !important;
}

.pr55 {
    padding-right: 55px !important;
}

.pb55 {
    padding-bottom: 55px !important;
}

.pl55 {
    padding-left: 55px !important;
}


/*60px*/

.pt60 {
    padding-top: 60px !important;
}

.pr60 {
    padding-right: 60px !important;
}

.pb60 {
    padding-bottom: 60px !important;
}

.pl60 {
    padding-left: 60px !important;
}


/*100px*/

.pt100 {
    padding-top: 100px !important;
}

.pr100 {
    padding-right: 100px !important;
}

.pb100 {
    padding-bottom: 100px !important;
}

.pl100 {
    padding-left: 100px !important;
}


/*150px*/

.pt150 {
    padding-top: 150px !important;
}

.pr150 {
    padding-right: 150px !important;
}

.pb150 {
    padding-bottom: 150px !important;
}

.pl150 {
    padding-left: 150px !important;
}

a {
    color: black;
}

a:hover {
    color: #b5a649!important;
    text-decoration: none!important;
}



@media screen and (max-width: 415px) {
    dd {
        
       width: 84%;
       padding-left:18px;
       
       margin: 0 auto;
       font-size: 14px;
    }
    dt {
        width: 70%;
        margin: 0 auto;
    }
    .img-special {
        left: -12%;
        position: relative;
    }
    .vhc{
        height: 180px;
         width: 167px;
         overflow: hidden;
    }
    img.photo-nav{

    }
    .pn1{
        left: -10%!important;
    }
    .pn2{
        
    }
    .pn3{
        top:-15px;
        left: -39%;
    }
    .pn4{
        left: -22%!important;
    }
    .pn5{
        left: -25%!important;
    }
    .pn6{
        left: -38%!important;
    }
    .pn7{
        left: -35%!important;
    }
    
  }




#sns_buttons{
    max-width: 100%;
}
under_border content_item{
    max-width: 100%;
}
#footer{
    width: 100%;
    margin-top: 15%;
}
ul{
    max-width:100%;
}
.left{
    text-align: left;
}
.bold{
    font-weight: bold;
}

.button_product{

    outline:none;
    border: none;
    cursor:pointer;
    overflow: hidden;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor: pointer;
    transition: all .2s ease-in-out;
    width: 100%;
    position: relative;
    transition-timing-function: ease-out;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    
    
}
.button_product:hover{

    outline: none;
    color: #b5a649;
    transform: scale(1.0001);
   
}

.button_product:active,
.button_close:active,
.button_product:focus,
.button_close:focus{
    border:0;
    outline: none;  
 }


.button_close{

    width: 10%;
    padding: 2%;
    
    left:82%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: white;
    outline: none;
    border: white;
   
    background-color: rgb(185, 67, 67);
    border-radius: 50%;
    display: none;
    z-index: 99;
    position: relative;


   
}

.button_close{

    width: 10%;
    padding: 1%;
    
    left:52%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    color: white;
    outline: none;
    border: white;
   
    background-color: rgb(197, 195, 61);
    border-radius: 50%;
    display: none;
    z-index: 1;
    position: relative;


   
}




.button_close:hover,
.button_close_center:hover,
.button_close_right:hover
{
    background-color: rgb(14, 11, 2);
    cursor: pointer;
    transform: scale(1.2);

  
}

 
.product_toggle{

    width: 55%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    left: 30%;
    top:5%;
    font-size: 1.2em;
    position: absolute;
    background-color: rgb(245, 248, 250);
    transition-timing-function: ease-in-out;
    box-shadow: 37px 18px 194px -6px rgb(146, 146, 146);
    text-align: center;
    z-index: -1;


}




@media screen and (max-width:621px) {
    .product_toggle{
        width: 90%;
        left: 5%;
        padding: 2;
        position: relative;
    }
    .button_close{
        
        width: 15%;
        height: 50px;
        position: relative;
        font-size: 1.1em;
        left:40%;
        top:-62px;
  
    }

}

@media screen and (max-width:769px) {
    .product_toggle{
        width: 50%;
     
        padding: 2;
        position: absolute;
    }
    .button_close{
        
        width: 18%;
        height: 65px;
        position: relative;
        left:43%;
        top:6px;
  
    }
    .products #content div.menu{
        max-width: 920px!important;
    }
    .products #content div.menu ul li{
        width: 2000px;
      
    }
    .pn3{
        height: 250px;
    }

}

@media screen and (max-width:415px) {
    .product_toggle{
        width: 90%;
        left: 5%;
        padding: 2;
        position: relative;
        top:-300px;
    }
    .button_close{
        
        width: 15%;
        height: 50px;
        position: relative;
        font-size: 1.1em;
        left:43%;
        top:4px;
  
    }
    .products #content div.menu ul li{
        width: 243px;
     
    }
    img.photo-nav.pn3{
        left : -28px;
    }

}

img.product_toggle_img{
    padding-bottom: 5%;
    box-shadow:1px 13px 8px rgba(0, 0, 0, .5);
    background-color: white;
}
div.product_toggle_img{
    display: inline-block;
    padding: 2%;
    padding-left: 17%;
    padding-right: 17%;
    border-radius:5%;
    background-color: white;
    color: #b5a649;
}

#product_toggle1,
#product_toggle2,
#product_toggle3,
#product_toggle4,
#product_toggle5
{
    display: none;
    z-index: 1;

}

.center{
    text-align: center;
}
.center-nav{
    text-align: center;
    top:-11px;
    position: relative;
}

@media screen and (max-width: 768px) {
    #footer{
        width: 120%;
        margin-top: 0;
       
    }
    
  }