@charset "utf-8";

/**
* layout.css
* @version			: 0.1
* @description		: Common Layout
* @content			: 
=====================================
	Structure
	Header
	Contents
	Main Contents
	Main Column
	Bread Crumb Navigation
===================================== */

body {
    font-family: "Sarabun", Sans-Serif;
    -webkit-text-size-adjust: 100%;
    min-height: 416px;
}

.spBlock {
    display: block !important;
}

.pcBlock {
    display: none !important;
}


/* =====================================
	Header
===================================== */


/*
header
*/

header {
    background: none #FFF;
    margin: 0;
    padding: 10px 0 8px;
    border-bottom: 4px solid #000;
    position: relative;
    z-index: 2;
    overflow: visible;
}

header h1 {
    text-align: left;
    display: block;
    margin: 0 !important;
    padding: 0 0 0 10px;
}

header h1 img {
    width: 120px;
}

header>div>p {
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 44px;
    height: 40px;
}

header>div>p span {
    width: 44px;
    height: 40px;
    text-indent: -9999px;
    display: block;
    background: url(../img/ic_menu.png) left bottom no-repeat;
    background-size: 88px auto;
}

header>div>p span.open {
    background-position: right top;
}

header nav {
    display: none;
    background: #756947;
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    text-align: left;
    border-top: 2px solid #756947;
    border-bottom: 2px solid #756947;
    box-shadow: 2px 2px 2px #999;
    font-weight: bold;
    font-size: small;
    z-index: 5;
}

.index #sns_buttons {
    width: 100%;
}

header nav p {
    border-top: 2px solid #756947;
}

header nav p.indent_link {
    position: relative;
    border-top: 2px solid #6d6d6d;
}

header nav p.border_hide:before {
    content: "";
    position: absolute;
    width: 1.5em;
    height: 2px;
    top: -2px;
    background: #404040;
}

header nav p.indent_link a {
    text-indent: 1em;
}

header nav p.top {
    border-bottom: 2px solid #756947;
    background: #ababab;
}

header nav ul {
    background: #404040;
}

header nav p a,
header nav ul li a {
    background: #404040;
    display: block;
    padding: 8px 10px;
    font-family: sans-serif;
    color: #FFF;
    text-decoration: none;
}

header nav p a span,
header nav ul li a span {
    display: block;
    background: url(../img/ic_nav_arrow.png) right center no-repeat;
    background-size: auto 0.8em;
}

header nav ul:before,
header nav ul:after {
    content: "";
    display: table;
}

header nav ul:after {
    clear: both;
}

header nav ul {
    zoom: 1;
}

header nav ul li {
    width: 50%;
    box-sizing: border-box;
    float: left;
    border-top: 1px solid #756947;
}

header nav ul li:nth-child(2n+1) {
    border-right: 1px solid #756947;
}


/* =====================================
	Content
===================================== */

#content {
    width: 100%;
}

.pagetopButton {
    width: auto;
    margin: 2em 0;
    text-align: center;
}

.pagetopButton p {
    display: inline-block;
}

.pagetopButton p a {
    width: 40px;
    height: 40px;
    display: block;
    background: #666;
    border-radius: 40px;
    right: 10px;
}

.pagetopButton p a {
    display: block;
    text-indent: -9999px;
    z-index: 999;
}

.pagetopButton p a span {
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -7px 0 0 -7px;
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/ic_nav_top.png) center center no-repeat;
    background-size: contain;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}


/* =====================================
	Footer
===================================== */

#topicpath {
    padding: 5px 10px;
    margin: 0;
}

#topicpath ul {
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#topicpath ul li {
    float: left;
    display: block;
    margin-right: 0.5em;
    font-size: 95%;
}

#topicpath ul li a {
    margin-right: 0.5em;
    color: #650;
    text-decoration: none;
}

#topicpath ul li a:hover {
    text-decoration: underline;
}

footer,
footer div,
footer p,
footer p.copyright {
    width: 100%;
}

footer .fnavi {
    width: 94%;
    margin: 0 auto;
}

footer .fit>img {
    width: 100%;
    height: auto;
}

footer .fnavi a.arrow_link {
    margin-left: 1%;
    display: inline-block;
    line-height: 36px;
    width: 100%;
}

footer .fnavi .link_wrapper {
    width: 50%;
}

footer .fnavi .sns_wrapper {
    box-sizing: border-box;
    position: relative;
    top: 20px;
    right: 0;
    text-align: right;
    width: 48.5%;
}

footer .fnavi .sns_wrapper a img {
    width: 30px;
    height: 30px;
}