/* ---------------------------

	/index

--------------------------- */

.index #content {
    color: #444;
}

.index #content h2 {
    margin: 40px 0 20px;
    padding: 0 0 10px;
    font-size: 180%;
    color: #404040;
    border-bottom: 2px solid #404040;
    font-weight: normal;
}


/*
	/index
	section.mainimage
*/

.index .youtube {
    position: absolute;
    right: 0;
}

.index #content .col1 {
    width: 560px;
    height: 340px;
}

.index #content .mainimage {
    width: 560px;
    margin-top: 40px;
}

.index #content .mainimage img {
    width: 560px;
    height: auto;
}

.index #content .mainimage .sp-arrow {
    width: 40px;
    height: 40px;
    background: url(../../img/index/ic_arrow_mainimage.png);
    opacity: 0.4;
}

.index #content .mainimage.sp-horizontal .sp-previous-arrow {
    left: 0px;
    background-position: left top;
}

.index #content .mainimage.sp-horizontal .sp-next-arrow {
    right: 0px;
    background-position: right top;
}

.index #content .mainimage .sp-previous-arrow:before,
.index #content .mainimage .sp-previous-arrow:after,
.index #content .mainimage .sp-next-arrow:before,
.index #content .mainimage .sp-next-arrow:after {
    width: 0;
    height: 0;
}

.index #content .mainimage .sp-buttons {
    text-align: right;
    line-height: 0;
}

.index #content .mainimage .sp-button {
    width: 50px;
    height: 4px;
    border: none;
    border-radius: 0;
    margin: 0 0 0 2px;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    background: #999999;
}

.index #content .mainimage .sp-selected-button {
    background-color: #bbac2d;
}


/*
	/index
	section.products
*/

.index #content .products {
    width: 560px;
    float: right;
}

.index #content .products article.color,
.index #content .products article.perm,
.index #content .products article.care,
.index #content .products article.styling,
.index #content .products article.mens {
    box-sizing: border-box;
    width: 180px;
    float: left;
    margin: 0 10px 5px 0;
}

.index #content .products article.care {
    margin: 0 0 5px 0;
}

.index #content .products article.color h3 img,
.index #content .products article.perm h3 img,
.index #content .products article.care h3 img,
.index #content .products article.styling h3 img,
.index #content .products article.mens h3 img {
    width: 100%;
    height: auto;
}

.index #content .products article.color li,
.index #content .products article.perm li,
.index #content .products article.care li,
.index #content .products article.styling li,
.index #content .products article.mens li {
    padding: 0 0 0 10px;
    background: url(../../img/index/ic_arrow_right01.png) left 0.55em no-repeat;
}

.index #content .products article.color ul li a,
.index #content .products article.perm ul li a,
.index #content .products article.care ul li a,
.index #content .products article.styling ul li a,
.index #content .products article.mens ul li a {
    text-decoration: none;
    display: block;
    padding: 0.2em 0;
    color: #444;
}

.index #content .products article.color ul li a:hover,
.index #content .products article.perm ul li a:hover,
.index #content .products article.care ul li a:hover,
.index #content .products article.styling ul li a:hover,
.index #content .products article.mens ul li a:hover {
    text-decoration: underline;
}

.index #content .products article.pickup {
    border-top: 1px solid #444;
    float: left;
    margin: 0 0 0 10px;
    width: 660px;
    background: #eee;
    padding: 20px;
    color: #444;
}

.index #content .products article.pickup:before,
.index #content .products article.pickup:after {
    content: "";
    display: table;
}

.index #content .products article.pickup:after {
    clear: both;
}

.index #content .products article.pickup {
    zoom: 1;
}

.index #content .products article.pickup div.block {
    width: 370px;
    height: 192px;
    padding: 10px 30px;
    float: left;
    background: #FFF;
}

.index #content .products article.pickup div.block .sp-arrow {
    width: 28px;
    height: 28px;
    background: url(../../img/index/ic_arrow_pickup.png);
    margin-top: -14px;
}

.index #content .products article.pickup div.block .sp-horizontal .sp-previous-arrow {
    left: -25px;
    background-position: left top;
}

.index #content .products article.pickup div.block .sp-horizontal .sp-next-arrow {
    right: -25px;
    background-position: right top;
}

.index #content .products article.pickup div.block .sp-previous-arrow:before,
.index #content .products article.pickup div.block .sp-previous-arrow:after,
.index #content .products article.pickup div.block .sp-next-arrow:before,
.index #content .products article.pickup div.block .sp-next-arrow:after {
    width: 0;
    height: 0;
}

.index #content .products article.pickup h3,
.index #content .products article.pickup p {
    margin-left: 450px;
    line-height: 160%;
}

.index #content .products article.pickup h3 {
    margin-bottom: 10px;
    font-size: 140%;
}

.index #content .products article.pickup div.block div img {
    width: 344px;
}

.index #content .attention {
    font-size: 110%;
    color: #333;
    margin: 30px auto;
    padding: 20px 20px 20px 40px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}


/*
	/index
	section.contents
*/

.index #content .contents:before,
.index #content .contents:after {
    content: "";
    display: table;
}

.index #content .contents:after {
    clear: both;
}

.index #content .contents {
    zoom: 1;
}

.index #content .contents article.compass,
.index #content .contents article.eco,
.index #content .contents article.other {
    width: 280px;
    padding: 0 0 0 19px;
    margin-left: 20px;
    border-left: 1px solid #CCC;
    float: left;
}

.index #content .contents article a {
    color: #444;
    text-decoration: none;
}

.index #content .contents article a:hover {
    text-decoration: underline;
}

.index #content .contents article.compass {
    padding-left: 0px;
    border-left: none;
}

.index #content .contents article.compass img,
.index #content .contents article.eco img,
.index #content .contents article.other img {
    width: 100%;
}

.index #content .contents article.compass h3,
.index #content .contents article.eco h3 {
    font-size: 150%;
    font-weight: bold;
    margin: 15px 0 10px;
}

.index #content .contents article.compass p,
.index #content .contents article.compass ul,
.index #content .contents article.eco p,
.index #content .contents article.eco ul {
    margin: 0 0 10px;
}

.index #content .contents article.other h3 {
    font-size: 150%;
    font-weight: bold;
    margin: 15px 0 10px;
}

.index #content .contents article.other h3,
.index #content .contents article.other p {
    font-size: 150%;
    font-weight: bold;
    margin: 30px 0 10px;
}

.index #content .contents article li {
    padding: 0 0 0 10px;
    background: url(../../img/index/ic_arrow_right01.png) left 0.45em no-repeat;
}

.index #content .contents article p {
    line-height: 1.8;
}


/* ---------------------------

	/products/

--------------------------- */

.spBlock {
    display: none !important;
}

.pcBlock {
    display: block !important;
}

.products #content {
    color: #444;
}

.products #content h1 {
    text-indent: -9999px;
    background: url(../../products/img/index/bg_h1.gif);
    width: 980px;
    margin: 30px 0;
}

.products #content h1 span {
    display: block;
    height: 82px;
}

.products #content nav {
    width: 920px;
    margin: 0 auto;
    overflow: hidden;
}

.products #content nav ul li {
    width: 172px;
    float: left;
    margin: 0 15px 0 0px;
}

.products #content nav ul li.mens {
    margin-right: 0;
}

.products #content nav ul li a {
    display: block;
    height: 40px;
    background: url(../../products/img/index/bt_navi.png);
}

.products #content nav ul li a span {
    display: block;
    text-indent: -9999px;
}

.products #content nav ul li.color a {
    background-position: -0px 0px;
}

.products #content nav ul li.perm a {
    background-position: -187px 0px;
}

.products #content nav ul li.care a {
    background-position: -374px 0px;
}

.products #content nav ul li.styling a {
    background-position: -561px 0px;
}

.products #content nav ul li.mens a {
    background-position: -748px 0px;
}

.products #content nav ul li.color a.on,
.products #content nav ul li.color a:hover {
    background-position: -0px -40px;
}

.products #content nav ul li.perm a.on,
.products #content nav ul li.perm a:hover {
    background-position: -187px -40px;
}

.products #content nav ul li.care a.on,
.products #content nav ul li.care a:hover {
    background-position: -374px -40px;
}

.products #content nav ul li.styling a.on,
.products #content nav ul li.styling a:hover {
    background-position: -561px -40px;
}

.products #content nav ul li.mens a.on,
.products #content nav ul li.mens a:hover {
    background-position: -748px -40px;
}

.products #content div.menu {
    width: 918px;
    margin: 0 auto;
    display: none;
}

.products #content div.menu ul {
    margin: 0;
    padding: 15px 20px;
    padding:5%;
    margin-bottom: 17%;
    padding-left: 0;
    overflow: hidden;
    margin-top: 7%; 
}

.products #content div.menu ul li {
    width: 290px;
    float: left;
}

.products #content div.menu ul li a {
    display: block;
    color: #444;
    text-decoration: none;
    padding: 0 0 0 15px;
  
}

.products #content div.menu ul li a:hover {
    text-decoration: underline;
}

.products #content h2 {
    background: url(../../products/img/index/bg_h2.gif);
    width: 980px;
    height: 38px;
    margin: 50px 0 20px;
}

.products #content h2 span {
    display: block;
    font-size: 18px;
    line-height: 36px;
    padding: 0 0 0 30px;
}

.products #content h3 {
    font-size: 125%;
    margin: 10px 0;
    font-weight: bold;
}

.products #content p {
    margin: 10px 0;
    transition: all .3s ease-in-out;
}

.products #content p:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.products #content h3.series {
    border-bottom: 1px solid #CCC;
    margin-left: 30px;
    margin-right: 30px;
}

.products #content h3.series span {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #888;
}

.products #content article.item {
    width: 920px;
    margin: 20px auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCC;
}

.products #content article.item:before,
.products #content article.item:after {
    content: "";
    display: table;
}

.products #content article.item:after {
    clear: both;
}

.products #content article.item {
    zoom: 1;
}

.products #content article.item.last {
    border-bottom: none;
}

.products #content article.item p strong {
    font-weight: bold;
}

.products #content article.item p.photo {
    float: left;
    width: 200px;
    padding: 0 30px 0 0;
}

.products #content article.item.wide p.photo {
    width: 290px;
}

img.photo-nav {
    min-width: 50%;
    position: relative;
    left: 2%;
    min-width: 12%;
    max-width: 77%;
}

.products #content article.item div.spec {
    float: left;
    width: 430px;
    padding: 0 30px 0 0;
    overflow: hidden;
}

.products #content article.item.wide div.spec {
    width: 340px;
}

.products #content article.item.wide div.spec h3 {
    float: left;
}

.products #content article.item.wide div.spec p {
    margin-left: 50px;
}

.products #content article.item div.spec img.ic {
    width: 280px;
}

.products #content article.item div.spec .other {}

.products #content article.item div.spec .other dt {
    width: 90px;
    height: 24px;
    margin: 0 0 10px 0;
    padding: 1px 0 0 0;
    background: #424242;
    color: #ffffff;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
}

.products #content article.item div.spec .other dd {
    margin: 0 0 10px 0;
}

.products #content article.item div.spec .other dd a {
    display: inline-block;
    position: relative;
    padding: 0 0 0 10px;
    font-weight: bold;
    text-decoration: none;
    color: #665501;
}

.products #content article.item div.spec .other dd a:before {
    content: ">";
    position: absolute;
    top: 0.1em;
    left: 0;
    font-weight: normal;
}

.products #content article.item div.buttons {
    float: left;
    width: 160px;
    padding: 25px 35px;
    background: #f7f7f7;
}

.products #content article.item div.buttons ul li {
    overflow: hidden;
    padding: 5px 0;
}

.products #content article.item div.buttons ul li a {
    display: block;
}

.products #content article.item div.buttons ul li.ct a {
    color: #FFF;
    line-height: 3em;
    height: 3em;
    text-decoration: none;
    text-indent: 0;
    background: rgb(190, 176, 56);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(190, 176, 56, 1)), color-stop(100%, rgba(178, 163, 43, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#beb038', endColorstr='#b2a32b', GradientType=0);
    /* IE6-9 */
}

.products #content article.item div.buttons ul li.ctgm a {
    color: #FFF;
    line-height: 3em;
    height: 3em;
    text-decoration: none;
    text-indent: 0;
    background: rgb(190, 176, 56);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(190, 176, 56, 1)), color-stop(100%, rgba(178, 163, 43, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#beb038', endColorstr='#b2a32b', GradientType=0);
    /* IE6-9 */
}

.products #content article.item div.buttons ul li.video a {
    color: #FFF;
    line-height: 3em;
    height: 3em;
    text-decoration: none;
    text-indent: 0;
    background: rgb(190, 176, 56);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(190, 176, 56, 1)), color-stop(100%, rgba(178, 163, 43, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#beb038', endColorstr='#b2a32b', GradientType=0);
    /* IE6-9 */
}

.products #content article.item div.buttons ul li.cl a {
    background: url(../../products/img/index/bt_color_chart.gif);
    height: 30px;
}

.products #content article.item div.buttons ul li.gd a {
    background: url(../../products/img/index/bt_guidance_movie.gif);
    height: 30px;
}

.products #content article.item div.buttons ul li.mv a {
    background: url(../../products/img/index/bt_movie.gif);
    height: 30px;
}

.products #content article.item div.buttons ul li.dt a {
    color: #FFF;
    line-height: 3em;
    height: 3em;
    text-decoration: none;
    text-indent: 0;
    background: rgb(190, 176, 56);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(190, 176, 56, 1)), color-stop(100%, rgba(178, 163, 43, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#beb038', endColorstr='#b2a32b', GradientType=0);
    /* IE6-9 */
}

.products #content article.item div.buttons ul li a:hover {
    opacity: 0.8;
}

.products #content article.item div.buttons ul li a span {
    display: block;
    text-indent: 0;
    text-align: center;
}

.products #content article.item div.buttons ul li.scdr a {
    color: #FFF;
    line-height: 3em;
    height: 3em;
    text-decoration: none;
    text-indent: 0;
    background: rgb(190, 176, 56);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(190, 176, 56, 1)), color-stop(100%, rgba(178, 163, 43, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(190, 176, 56, 1) 0%, rgba(178, 163, 43, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#beb038', endColorstr='#b2a32b', GradientType=0);
    /* IE6-9 */
}


/* ---------------------------

	/about/

--------------------------- */

.about #content {
    color: #444;
}

.about #content h1 {
    text-indent: -9999px;
    background: url(../../about/img/bg_h1.gif);
    width: 980px;
    margin: 30px 0;
}

.about #content h1 span {
    display: block;
    height: 82px;
}

.about #content nav {
    width: 920px;
    margin: 0 auto;
    overflow: hidden;
}

.about #content nav ul {
    text-align: center;
}

.about #content nav ul li {
    width: 200px;
    display: inline-block;
    margin: 0 10px;
}

.about #content nav ul li a {
    display: block;
    height: 35px;
    background: url(../../about/img/bt_navi.gif);
}

.about #content nav ul li a span {
    display: block;
    text-indent: -9999px;
}

.about #content nav ul li.history a {
    background-position: 0 0px;
}

.about #content nav ul li.philosophy a {
    background-position: -221px 0px;
}

.about #content nav ul li.philosophy2 a {
    background-position: -441px 0px;
}

.about #content nav ul li.history a.on,
.about #content nav ul li.history a:hover {
    background-position: 0 -35px;
}

.about #content nav ul li.philosophy a.on,
.about #content nav ul li.philosophy a:hover {
    background-position: -221px -35px;
}

.about #content nav ul li.philosophy2 a.on,
.about #content nav ul li.philosophy2 a:hover {
    background-position: -441px -35px;
}

.about #content h2 {
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background: url(../../about/img/bg_h2.gif);
    margin: 30px 0 20px;
}

.about #content h2 span {
    background-color: #fff;
    padding: 0 20px;
}


/*
	/about/index
	section.history
*/

.about #content section.history article {
    margin: 0 0 30px;
    padding: 0 30px;
}

.about #content section.history article:before,
.about #content section.history article:after {
    content: "";
    display: table;
}

.about #content section.history article:after {
    clear: both;
}

.about #content section.history article {
    zoom: 1;
}

.about #content section.history article h3 {
    font-size: 120%;
    line-height: 150%;
    font-weight: bold;
    margin: 0 0 10px;
}

.about #content section.history article p {
    line-height: 150%;
    margin: 10px 0;
}

.about #content section.history article div.main {
    float: left;
    width: 600px;
}

.about #content section.history article div.photo.right {
    float: right;
    width: 300px;
    text-align: center;
}

.about #content section.history article div.photo ul li.bn {
    margin-top: 30px;
}

.about #content section.history article div.photo.bottom ul {
    text-align: center;
}

.about #content section.history article div.photo.bottom ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 10px;
    width: 190px;
}

.about #content section.history article div.photo.bottom ul li img {
    width: 100%;
}

.center_pc_text {
    text-align: center;
}

.tile_link {
    width: 760px;
    box-sizing: border-box;
    margin: 100px auto 0;
}

.tile_link li {
    display: inline-block;
    margin: 0 5px 10px;
}


/* -- modal ------------------------------------------------------------------------------------*/

#modal {
    display: none;
    position: absolute;
    left: 0;
    min-width: auto;
    width: 100%;
    z-index: 101;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
}

#closeArea {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: auto;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#modalContent {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 900px;
    margin: 0 0 0 -450px;
    padding: 0;
    background: #ffffff;
    z-index: 3;
    box-shadow: 0 0 36px rgba(0, 0, 0, 1);
}

#modalClose {
    display: block;
    text-decoration: none;
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #999;
    font-size: 26px;
    text-align: center;
    line-height: 26px;
    z-index: 3;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
}

#modalBg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.7;
    -ms-filter: "alpha(opacity=70)";
    z-index: 100;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
}

#modalContent .items img {
    width: 900px;
    height: auto;
}


/* ---------------------------

	/modecompass

--------------------------- */

.modecompass #content {
    color: #444;
}

.modecompass #content h1 {
    text-indent: -9999px;
    background: url(../../modecompass/img/bg_h1.gif);
    width: 982px;
    margin: 30px 0 10px;
}

.modecompass #content h1 span {
    display: block;
    height: 82px;
}

.modecompass .another_feminity {
    margin: 80px auto 0;
}

.modecompass #content h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 18px;
}

.column_list {
    box-sizing: border-box;
    text-align: center;
}

.column_list .column:nth-child(odd) {
    margin: 0 5px 10px 0;
}

.column_list .column:nth-child(even) {
    margin: 0 0 10px 5px;
}

.column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.w55 {
    width: 55%;
    margin-left: 50px;
}

.w45 {
    width: calc(44.5% - 50px);
}

.floating_left {
    float: left;
    margin-right: 40px;
}

.bold_text {
    font-weight: bold;
    font-size: 18px;
}

.main_text {
    font-size: 14px;
    padding-top: 20px;
    line-height: 1.8em;
}

br.double {
    display: block;
    margin-bottom: 1em;
}

.glay_area {
    box-sizing: border-box;
    background: #eee;
    padding: 30px 50px 30px 20px;
    margin-left: 50px;
    font-size: 14px;
    line-height: 1.8em;
    width: 300px;
}

.arrow_link {
    text-decoration: none;
    color: #444;
}

.arrow_link:hover {
    text-decoration: underline;
}

.arrow_link:before {
    content: "> ";
    color: #8e6626;
}


/*
	/about/philosophy
	section.brand
*/

.about #content section.brand {}

.about #content section.brand article.brand {
    margin-top: 40px;
    padding: 0 0 30px;
}

.about #content section.brand article.brand:before,
.about #content section.brand article.brand:after {
    content: "";
    display: table;
}

.about #content section.brand article.brand:after {
    clear: both;
}

.about #content section.brand article.brand {
    zoom: 1;
}

.about #content section.brand article.brand div.image {
    float: left;
}

.about #content section.brand article.brand div.main {
    margin: 20px 0 0 300px;
}

.about #content section.brand article.brand div.main h3 {
    font-weight: bold;
    font-size: 200%;
    color: #c2a551;
}

.about #content section.brand article.brand div.main p {
    font-size: 140%;
    line-height: 165%;
}

.about #content section.brand article.principles {
    padding: 30px 0 0;
    border-top: 1px solid #bbac2d;
}

.about #content section.brand article.principles h4,
.about #content section.brand article.principles p {
    margin: 0 0 10px 300px;
}

.about #content section.brand article.principles h3 {
    font-size: 130%;
    line-height: 180%;
    color: #FFF;
    width: 180px;
    background: #c2a551;
    float: left;
    margin: 0 0 0 50px;
}

.about #content section.brand article.principles h3 span {
    display: block;
    text-align: center;
    padding: 0.5em 0;
}

.about #content section.brand article.principles h4 {
    font-weight: bold;
}

.about #content section.brand article.principles h4 strong {
    font-weight: bold;
    font-size: 150%;
    color: #c2a551;
}

.about #content section.brand article.principles h4 em {
    font-weight: bold;
    font-size: 80%;
}


/*
	/about/philosophy
	section.logo
*/

.about #content section.logo {
    margin: 0 30px 50px;
}

.about #content section.logo p {
    margin: 0 0 10px 300px;
}

.about #content section.logo p.image {
    float: left;
    margin: 0;
    width: 260px;
}

.about #content section.logo p.image img {
    width: 100%;
}

.about #content section.logo strong {
    font-weight: bold;
}


/*
	/about/philosophy
	section.color
*/

.about #content section.color {
    margin: 0 30px 50px;
}

.about #content section.color p {
    margin: 0 0 10px 300px;
}

.about #content section.color p.image {
    float: left;
    margin: 0;
    width: 260px;
}

.about #content section.color p.image img {
    width: 100%;
}

.about #content section.color strong {
    font-weight: bold;
}


/* ---------------------------

	/eco

--------------------------- */

.eco #content {
    color: #444;
}

.eco #content h1 {
    text-indent: -9999px;
    background: url(../../eco/img/bg_h1.gif);
    width: 980px;
    margin: 30px 0 10px;
}

.eco #content h1 span {
    display: block;
    height: 82px;
}

.eco #content nav {
    width: 920px;
    margin: 40px auto;
    overflow: hidden;
}

.eco #content nav ul {
    text-align: center;
}

.eco #content nav ul li {
    width: 220px;
    display: inline-block;
    margin: 0 10px;
}

.eco #content nav ul li a {
    display: block;
    height: 35px;
    background: url(../../eco/img/bt_navi.gif);
}

.eco #content nav ul li a span {
    display: block;
    text-indent: -9999px;
}

.eco #content nav ul li.approach a {
    background-position: 0 0px;
}

.eco #content nav ul li.society a {
    background-position: -240px 0px;
}

.eco #content nav ul li.policies a {
    background-position: -480px 0px;
}

.eco #content nav ul li.approach a.on,
.eco #content nav ul li.approach a:hover {
    background-position: 0 -35px;
}

.eco #content nav ul li.society a.on,
.eco #content nav ul li.society a:hover {
    background-position: -240px -35px;
}

.eco #content nav ul li.policies a.on,
.eco #content nav ul li.policies a:hover {
    background-position: -480px -35px;
}

.eco #content section.mainimage img {
    width: 100%;
}

.eco #content h2 {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background: url(../../eco/img/bg_h2.gif);
    margin: 30px 0 20px;
}


/*
	/eco/index
	section.approach
*/

.eco #content section.approach {
    width: 920px;
    margin: 0 auto;
}

.eco #content section.approach h3 {
    width: 650px;
    height: 40px;
    text-indent: -9999px;
    margin: 0 0 15px;
    background-repeat: no-repeat;
}

.eco #content section.approach article.research h3 {
    background-image: url(../../eco/img/index/ti_h3_01.gif);
}

.eco #content section.approach article.plant h3 {
    background-image: url(../../eco/img/index/ti_h3_02.gif);
}

.eco #content section.approach article.products h3 {
    background-image: url(../../eco/img/index/ti_h3_03.gif);
    background-repeat: no-repeat;
}

.eco #content section.approach article.logistics h3 {
    background-image: url(../../eco/img/index/ti_h3_04.gif);
}

.eco #content section.approach article.sales h3 {
    background-image: url(../../eco/img/index/ti_h3_05.gif);
}

.eco #content section.approach article.offices h3 {
    background-image: url(../../eco/img/index/ti_h3_06.gif);
}

.eco #content section.approach article.public h3 {
    background-image: url(../../eco/img/index/ti_h3_07.gif);
    height: 60px;
}

.eco #content section.approach article {
    margin: 30px 0;
}

.eco #content section.approach article:before,
.eco #content section.approach article:after {
    content: "";
    display: table;
}

.eco #content section.approach article:after {
    clear: both;
}

.eco #content section.approach article {
    zoom: 1;
}

.eco #content section.approach p {
    margin: 0 0 10px;
    line-height: 160%;
}

.eco #content section.approach ul li {
    margin: 0 0 10px;
    font-size: 90%;
    color: #666;
}

.eco #content section.approach article.plant h4,
.eco #content section.approach article.products h4 {
    margin: 0 0 10px;
    padding: 0 0 0 30px;
    font-weight: bold;
    line-height: 22px;
    color: #329044;
}

.eco #content section.approach article.plant h4.num01,
.eco #content section.approach article.products h4.num01 {
    background: url(../../eco/img/index/ic_num01.gif) left top no-repeat;
}

.eco #content section.approach article.plant h4.num02,
.eco #content section.approach article.products h4.num02 {
    background: url(../../eco/img/index/ic_num02.gif) left top no-repeat;
}

.eco #content section.approach article.plant h4.num03,
.eco #content section.approach article.products h4.num03 {
    background: url(../../eco/img/index/ic_num03.gif) left top no-repeat;
}

.eco #content section.approach article div.main {
    width: 650px;
    float: left;
}

.eco #content section.approach article div.image {
    width: 230px;
    float: right;
}

.eco #content section.approach article.products table {
    width: 650px;
    margin: 0 0 30px;
}

.eco #content section.approach article.products table th,
.eco #content section.approach article.products table td {
    border: 2px solid #329044;
    padding: 10px 20px;
}

.eco #content section.approach article.products table th {
    text-align: center;
    background: #329044;
    font-size: 200%;
    width: 4em;
    padding: 10px 40px;
    color: #FFF;
}

.eco #content section.approach article.products table td {
    color: #329044;
    line-height: 180%;
}

.eco #content section.approach article.public div.image {
    width: 180px;
    float: left;
    margin: 0 60px 0 30px;
}

.eco #content section.approach article.public div.main {
    width: 560px;
    padding: 20px;
    background: #eafbe0;
    border-radius: 5px;
}

.eco #content section.approach article.public div.main h4 {
    border-bottom: 1px solid #bbc9b3;
    margin: 0 0 10px;
    padding: 0 0 10px;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
}

.eco #content section.approach article.public div.main table th,
.eco #content section.approach article.public div.main table td {
    padding: 5px 0;
}

.eco #content section.approach article.public div.main table td {
    padding-left: 1em;
}

.eco #content section.approach article.public div.main ul {
    margin: 10px 0 0;
    text-align: center;
}

.eco #content section.approach article.public div.main ul li {
    margin: 0 2px;
    display: inline-block;
}


/*
	/eco/society
	section.society
*/

.eco #content section.society {
    width: 920px;
    margin: 0 auto;
}

.eco #content section.society article {
    width: 780px;
    margin: 30px auto;
}

.eco #content section.society article:before,
.eco #content section.society article:after {
    content: "";
    display: table;
}

.eco #content section.society article:after {
    clear: both;
}

.eco #content section.society article {
    zoom: 1;
}

.eco #content section.society article h3 {
    border: 1px solid #329044;
    color: #329044;
    border-radius: 10px;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    padding: 10px 0;
    margin: 0 0 15px;
}

.eco #content section.society article div.image {
    float: left;
    width: 145px;
}

.eco #content section.society article div.image img {
    width: 100%;
}

.eco #content section.society article div.main {
    float: right;
    width: 600px;
    margin: 0 10px 0 0;
}

.eco #content section.society article div.main p {
    line-height: 175%;
    margin: 0 0 15px;
}

.eco #content section.society article div.main p.button {
    text-align: right;
}

.eco #content section.society article div.main p.button a {
    display: inline-block;
    line-height: 30px;
    color: #FFF;
    text-decoration: none;
    background: url(../../eco/img/society/bg_bt.gif) left center no-repeat;
}

.eco #content section.society article div.main p.button a span {
    display: block;
    padding: 0 10px 0 20px;
}


/*
	/eco/policies
	section.policies
*/

.eco #content section article:before,
.eco #content section article:after {
    content: "";
    display: table;
}

.eco #content section article:after {
    clear: both;
}

.eco #content section article {
    zoom: 1;
}

.eco #content section.policies {
    width: 920px;
    margin: 0 auto;
}

.eco #content section.policies h3 {
    border: 1px solid #329044;
    color: #329044;
    border-radius: 10px;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    padding: 10px 0;
    margin: 0 0 15px;
}

.eco #content section.policies p {
    margin: 0 20px 10px;
    line-height: 175%;
}

.eco #content section.policies p.signature {
    text-align: right;
}


/*
	/eco/policies
	section.management
*/

.eco #content section.management {
    width: 920px;
    margin: 0 auto;
}

.eco #content section.management h3 {
    border: 1px solid #329044;
    color: #329044;
    border-radius: 10px;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    padding: 10px 0;
    margin: 0 0 15px;
}

.eco #content section.management p {
    margin: 0 20px 10px;
    line-height: 175%;
}

.eco #content section.management div.main {
    width: 620px;
    float: left;
}

.eco #content section.management div.image {
    width: 160px;
    float: right;
}

.eco #content section.management div.image img {
    width: 100%;
}


/*
	/eco/policies
	section.voice
*/

.eco #content section.voice {
    width: 920px;
    margin: 0 auto;
}

.eco #content section.voice h3 {
    font-weight: bold;
    font-size: 140%;
    padding: 5px 5px 0;
    border-bottom: 2px solid #CCC;
    margin: 30px 20px 20px 10px;
}

.eco #content section.voice article.pro h3 {
    color: #329044;
    border-color: #329044;
}

.eco #content section.voice article.cs h3 {
    color: #eb7015;
    border-color: #eb7015;
}

.eco #content section.voice article.pro {}

.eco #content section.voice article.pro div.pro_voice_block {
    position: relative;
    margin: 0 80px 0 20px;
    background: #ebf5cd;
    border-radius: 10px;
    color: #333;
}

.eco #content section.voice article.pro div.pro_voice_block:before,
.eco #content section.voice article.pro div.pro_voice_block:after {
    content: "";
    display: table;
}

.eco #content section.voice article.pro div.pro_voice_block:after {
    clear: both;
}

.eco #content section.voice article.pro div.pro_voice_block {
    zoom: 1;
}

.eco #content section.voice article.pro div.pro_voice_block p.image {
    position: absolute;
    bottom: 0;
    right: -80px;
}

.eco #content section.voice article.pro div.pro_voice_block div {
    float: left;
    width: 380px;
    padding: 15px
}

.eco #content section.voice article.pro div.pro_voice_block div ul li {
    line-height: 175%;
    margin-bottom: 10px;
}

.eco #content section.voice article.pro div.pro_voice_block div p {
    margin-top: 2em;
    font-size: 90%;
    color: #666;
    text-align: right;
}

.eco #content section.voice article.pro div.left {
    width: 320px;
    float: left;
    margin: 0 0 0 20px;
    color: #333;
}

.eco #content section.voice article.pro div.right h4,
.eco #content section.voice article.pro div.left h4 {
    font-weight: bold;
    color: #FFF;
    background: #329044;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    margin: 50px 0 15px;
}

.eco #content section.voice article.pro div.right h4 span,
.eco #content section.voice article.pro div.left h4 span {
    display: block;
}

.eco #content section.voice article.pro div.left div.item div.main {
    float: left;
    padding: 0 15px;
}

.eco #content section.voice article.pro div.left div.item div.main dl dt {
    float: left;
    clear: left;
    width: 3.5em;
}

.eco #content section.voice article.pro div.left div.item div.main dl dd {
    margin-left: 3.5em;
    text-align: right;
}

.eco #content section.voice article.pro div.left div.item div.image {
    margin-left: 9em;
}

.eco #content section.voice article.pro div.left div.item div.image img {
    width: 160px;
}

.eco #content section.voice article.pro div.right {
    width: 530px;
    float: right;
    margin: 0 20px 0 0;
    color: #333;
}

.eco #content section.voice article.pro div.right ul {
    padding: 5px;
}

.eco #content section.voice article.pro div.right ul li,
.eco #content section.voice article.pro div.right p {
    line-height: 175%;
}

.eco #content section.voice article.pro div.right div.image {
    margin: 20px 0 40px;
}

.eco #content section.voice article.pro div.right p {
    text-align: right;
    color: #666;
    font-size: 90%;
}

.eco #content section.voice article.cs div.left {
    width: 320px;
    float: left;
    margin: 0 0 0 20px;
    color: #333;
}

.eco #content section.voice article.cs div.right h4,
.eco #content section.voice article.cs div.left h4 {
    font-weight: bold;
    color: #FFF;
    background: #eb7015;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    margin: 0 0 15px;
}

.eco #content section.voice article.cs div.right h4 span,
.eco #content section.voice article.cs div.left h4 span {
    display: block;
}

.eco #content section.voice article.cs div.left div.main {
    float: left;
    padding: 0 15px;
}

.eco #content section.voice article.cs div.left div.main dl dt {
    float: left;
    clear: left;
    width: 3.5em;
}

.eco #content section.voice article.cs div.left div.main dl dd {
    margin-left: 3.5em;
    text-align: right;
}

.eco #content section.voice article.cs div.left div.image {
    margin-left: 9em;
}

.eco #content section.voice article.cs div.left div.image img {
    width: 160px;
}

.eco #content section.voice article.cs div.right {
    width: 420px;
    float: right;
    margin: 0 20px 0 0;
    padding: 0 110px 0 0;
    color: #333;
    position: relative;
}

.eco #content section.voice article.cs div.right ul {
    padding: 5px;
}

.eco #content section.voice article.cs div.right ul li,
.eco #content section.voice article.cs div.right p {
    line-height: 175%;
}

.eco #content section.voice article.cs div.right div.image {
    position: absolute;
    top: 0;
    right: 0;
}

.eco #content section.voice article.cs p.memo {
    padding: 20px 0 0;
    clear: both;
    text-align: right;
    color: #666;
    font-size: 90%;
}


/* ---------------------------

	/news

--------------------------- */

.news p {
    word-wrap: break-word;
}

.news #content {
    color: #444;
}

.news #content h1 {
    text-indent: -9999px;
    background: url(../../news/img/bg_h1.gif);
    width: 980px;
    margin: 30px 0 10px;
}

.news #content h1 span {
    display: block;
    height: 82px;
}


/*
	index news
*/

.index #content .news {
    width: 380px;
    min-height: 320px;
    display: inline-block;
}

.index #content .news a {
    text-decoration: none;
    color: #444;
    word-wrap: break-word;
}

.index #content .news ul {
    /*	height: 230px;
	overflow: hidden;*/
}

.index #content .news li {
    padding: 5px 0;
    border-bottom: 1px dotted #444;
}


/* parts
===========================================*/

.news div.newsMainBox01 {
    width: 900px;
    margin: 0 auto 20px;
}

.news div.newsMainBox01 div.newsMainLft {
    width: 200px;
    float: left;
    border-top: 2px solid #cccccc;
    padding-top: 10px;
}

.news div.newsMainBox01 div.newsMainRgt {
    width: 680px;
    float: right;
    border-top: 2px solid #eeeeee;
    padding-top: 10px;
}


/* left */

.news div.newsMainBox01 div.newsMainLft p img {
    vertical-align: middle;
}


/* block
----------------------------*/


/* block2a img1 */

.news div.block2a {
    width: 100%;
}

.news div.blockL {
    width: 150px;
    float: left;
}

.news div.blockR {
    width: 510px;
    float: right;
}


/* block2c img2,3 */

.news div.block2cW {
    width: 680px;
    overflow: hidden;
}

.news div.block2c {
    width: 690px;
}

.news div.block2c .blockL {
    width: 220px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}


/* up down */

.news div.block2c .blockU {
    margin-bottom: 9px;
}

.news div.block2c .blockU .blockUL {
    width: 102px;
    float: left;
    margin-right: 5px;
}

.news div.block2c .blockU .blockUR {
    width: 113px;
    float: right;
}

.news div.block2c .blockU .blockUR p.Caption {
    margin-top: 0;
}


/* h | p | ul
----------------------------*/

.news h2 {
    margin-bottom: 10px;
    font-size: 107%;
    font-weight: bold;
}

.news p.Caption {
    color: #999999;
    font-size: 77%;
    margin-top: 5px;
}

.news p {
    color: #333333;
}

.news p.note01 {
    font-weight: bold;
    margin-bottom: 10px;
}

.newsMainBox01 a:link {
    color: #665501;
}

.newsMainBox01 a,
.newsMainBox01 a:link,
.newsMainBox01 a:active,
.newsMainBox01 a:focus {
    outline: medium none;
    text-decoration: none;
}

.newsMainBox01 a {
    cursor: pointer;
    text-decoration: none;
    color: #665501;
}

.newsMainBox01 a,
.newsMainBox01 a:link,
.newsMainBox01 a:active,
.newsMainBox01 a:focus {
    outline: medium none;
    text-decoration: none;
}


/* inline
----------------------------*/

span.newsDate {
    color: #999999;
    font-size: 77%;
    padding-left: 10px;
}

div.clearFloat {
    clear: both;
    font-size: 1px;
    height: 1px;
    line-height: 0;
    width: 1px;
}

.cf {
    content: " ";
    display: table;
    clear: both;
}


/* more */

.index .more_link {
    height: 26px;
    background: #f1eed5;
    color: #333333;
    text-decoration: none;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    position: relative;
    margin: 20px 0 20px 0
}

.index .more_link:before {
    content: ">";
    display: inline-block;
    font-weight: bold;
    margin: 0 10px 0 0;
    color: #81550c;
}

@media screen and (max-width: 740px) {
    .news div.block2c {
        width: 40%;
    }
    .news p {
        width: 36%;
    }
    .news h2 {
        width: 25%;
    }
}

@media screen and (max-width:510px) {
    .news div.newsMainBox01 div.newsMainRgt {
        width: 680px;
        border-top: 2px solid #eeeeee;
        padding-top: 10px;
        float: left;
    }
    .news div.newsMainBox01 div.newsMainLft {
        display: none;
    }
    .news h2 {
        width: 25%;
        padding-right: 10%;
    }
    .news div.newsMainBox01 {
        width: 900px;
        margin: 30;
    }
}


/*news css */

.news div.block2c {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

div.newsMainLft {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.news p {
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

